@media (max-width: 1200px) {
    .blog-home {
        grid-template-columns: repeat(3, 1fr);
    }

    .blog-home a:nth-child(3) {
        grid-column: initial;
    }

    .blog-home a:nth-child(4) {
        grid-column: initial;
    }
}

@media (max-width: 768px) {
    .btn {
        font-size: 18px;
    }

    .header-content {
        padding: 40px 20px;
    }

    .header-content h1 {
        font-size: 50px;
    }

    .portfolio-section {
        grid-template-columns: repeat(3, 1fr);
    }

    .portfolio-item {
        min-height: 40vh;
        font-size: 16px;
    }

    .portfolio-item:nth-child(4) {
        grid-column: 2 / 4;
    }

    .portfolio-item:nth-child(5) {
        grid-column: 1 / 3;
        grid-row: initial;
    }

    .portfolio-item:nth-child(6) {
        grid-column-start: initial;
        grid-row: initial;
    }

    .section-ready .container {
        grid-template-columns: 1fr;
    }

    .ready-left {
        border-right: none;
    }

    .section-ready .container>div {
        padding: 0 8%;
    }

    .landing-section {
        padding: 40px 0;
    }

    .landing-section h2 {
        font-size: 24px;

    }

    .form-section form {
        grid-template-columns: repeat(2, 1fr);
    }

    .blog-home {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 480px) {
    .portfolio-section {
        grid-template-columns: 1fr
    }

    .portfolio-item {
        min-height: 50vh
    }

    .portfolio-item:nth-child(1) {
        grid-column: initial
    }

    .portfolio-item:nth-child(4) {
        grid-column: initial
    }

    .portfolio-item:nth-child(5) {
        grid-column: initial
    }


    .form-section form {
        grid-template-columns: 1fr;
    }

    .blog-home {
        grid-template-columns: 1fr;
    }
}