.btn {
    display: inline-block;
    border: none;
    color: #fff;
    text-decoration: none;
    background-color: #f0650d;
    padding: 10px 60px;
    font-size: 20px;
    font-weight: 800;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    text-align: center;
    position: relative;
    outline: 0;
    -webkit-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;
    cursor: pointer;
    margin: 10px;
    white-space: nowrap;
}

.btn::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    background-color: #000;
    opacity: .18;
    -webkit-border-bottom-left-radius: 2px;
    border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    border-bottom-right-radius: 2px;
    left: 0;
}

.btn:focus,
.btn:hover {
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    background-color: #f37423;
}

.btn:hover::after {
    opacity: .22;
}

.btn:active {
    background-color: #d85b0c;
}

.btn:active::after {
    opacity: .32;
}

.btn.btn_gray {
    background-color: #4b5a65;
}

.btn.btn_gray::after {
    background-color: #2a3339;
}

.btn.btn_gray:hover {
    background-color: #566774;
}

.btn.btn_gray:hover::after {
    opacity: .22;
}

.btn.btn_gray:active {
    background-color: #404d56;
}

.btn.btn_gray:active::after {
    opacity: .32;
}

.text-center {
    text-align: center;
}

.buttoncase {
    grid-column: 1 / -1;
    padding: 20px 20px 50px 20px;
}

.grid {
    display: grid;
}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: auto;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

input,
textarea {
    border: none;
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    outline: none;
    transition: background-color .25s ease;
    background-color: #314853;
}

input:focus,
textarea:focus {
    background-color: #EDEDED;
}

input::placeholder {
    color: #556C77;
}

body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.75;
    font-family: 'raleway-grid', sans-serif;
    overflow-x: hidden;
    opacity: 1;
    color: #333
}

.main-header {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
    align-content: center;
    justify-content: center;
}

.main-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #293A43;
    opacity: .92;
}

.header-content {
    z-index: 1;
    color: #fff;
    text-align: center;
    padding: 60px 20px;
}

.header-content h1 {
    font-size: 60px;
    font-family: 'Raleway';
    line-height: 1;
}

.portfolio-section {
    padding: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.portfolio-item {
    min-height: 32vh;
    background-position: center;
    background-size: cover;
    text-align: center;
    align-content: center;
    padding: 10px;
    position: relative;
    cursor: pointer;
}

.portfolio-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #293A43;
    opacity: .65;
    transition: opacity .5s ease;
}

.portfolio-item:hover::before {
    content: '';
    opacity: .85;
    transition: color .5s ease;
}

.portfolio-item:hover span {
    transition: color .5s ease;
    color: #F0650D;
}

.portfolio-item span {
    font-family: "Raleway";
    box-sizing: border-box;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}

.portfolio-item:nth-child(1) {
    grid-column: 1 / 3;
}

.portfolio-item:nth-child(5) {
    grid-column: 2 / 4;
}

.portfolio-item:nth-child(6) {
    grid-column-start: 4;
    grid-row: 2 / 4;
}

.landing-section {
    padding: 80px 0;
}

.section-ready {
    background-color: #EDEDED;
}

.landing-section h2 {
    font-size: 33px;
    font-weight: 800;
    color: #293A43;
    line-height: 1.2;
    margin-bottom: 40px;
}

.ready-left {
    font-family: "Raleway";
    font-size: 16px;
    color: #333333;
    padding: 60px;
}

.ready-right {
    padding-left: 40px;
    display: grid;
    align-items: center;
}

.section-ready .container {
    grid-template-columns: 1fr 1fr;
}

.ready-left {
    border-right: 1px solid #dadada;
}

.form-section {
    padding: 10px 0;
    background-color: #293A43;
}

.form-section form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.form-section form input {
    border: none;
    padding: 15px 20px;
    width: 100%;
    font-family: Arial, sans-serif;
    font-style: italic;
    outline: 0;
    transition: background-color .25s ease;
    box-sizing: border-box;
}

.form-section form .btn {
    margin: 0px;
    text-transform: uppercase;
    font-size: 17px;
}

.section-blog h2 {
    margin: 0px 0 40px;
}

.blog-home {
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
}

.blog-home a {
    color: #333;
}

.blog-item {
    grid-template-rows: 1fr 1fr;
    background-color: #F7F7F7;
    text-decoration: none;
    transition: background-color .25s ease;
    overflow: hidden;
}

.blog-item:hover {
    background-color: #EDEDED;
}

.blog-item:hover h4 {
    color: #293A43;
}

.blog-item-img:hover {
    transform: scale(1.05) translateY(-6.5px);
}

.blog-item-img {
    display: block;
    height: 270px;
    background-position: center;
    background-size: cover;
    transition: transform .25s ease;
}


.blog-home a:nth-child(3) {
    grid-column: 3 / 5;
}

.blog-home a:nth-child(4) {
    grid-column: 1 / 3;
}

.blog-item-content {
    display: grid;
    padding: 25px;
    text-align: center;
    align-content: center;
}

.blog-item-content h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 1.3;
    margin: 0;
    transition: color .25s ease;
}

.blog-item-content p {
    margin-top: 20px;
    margin-bottom: 0;
}

.main-footer {
    padding: 65px;
    background-color: #1B2429;
    text-align: center;
}

.footer-logo {
    font-family: 'Intro';
    font-size: 22px;
    color: #4E5355;
}

.footer-logo span {
    display: block;
    font-size: 27px;
    color: #707476;
    line-height: 0.4;
}

.footer-copy {
    font-weight: bold;
    color: #494D50;
    margin-top: 20px;
}